__pycache__
.vscode
dataset
part1
test.ipynb
models*
models/learning_curve_model.pth
models/age_gender_model.pth
models/model_stratified_splitting.pth
models/age_gender_model_1.pth
models/age_gender_model.pth
test.ipynb
augmented_dataset
evaluation.ipynb
augmented_dataset
augmented_dataset_v2
dataset_copy
agdenv