__pycache__
.vscode
dataset
part1
test.ipynb
models/learning_curve_model.pth
models/age_gender_model.pth
models/age_gender_model_1.pth
models/learning_curve_model.pth
models/model_removing_age_gt90.pth
models/model_stratified_splitting.pth
test.ipynb
augmented_dataset
